<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="header-img">
        <img src="/assets/cover.jpg" />
        <div class="circle-img">
          <img src="/assets/Mohd-Faizan.jpg" />
        </div>
      </div>
      <div class="titles">
        <ion-card-title>Mohd Faizan</ion-card-title>
        <ion-card-subtitle>Full Stack Developer</ion-card-subtitle>
      </div>
    </ion-card-header>

    <ion-card-content>
      <p> With a Diploma in Computer Science degree from Jamia Millia Islamia, New Delhi; this young boy from a small
        town
        is extremely focused about his work at a very young age. Experienced in both front and back-end development and
        works effortlessly in several technologies like CSS/CSS3, LESS, SASS, XML, JavaScript, jQuery, AJAX etc. to name
        a
        few.</p>
    </ion-card-content>
  </ion-card>
</ion-content>